.c_page_communication {
    position: relative;
    box-sizing: border-box;
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    padding: var(--spacing_s);
    gap: var(--spacing_xs);
    width: calc(100% - 0px);
    background: var(--light);
    border: 1px solid var(--neutral);
    flex: none;
    order: 1;
    flex-grow: 0;
    -o-border-radius: var(--spacing_s);
    -webkit-border-radius: var(--spacing_s);
    -moz-border-radius: var(--spacing_s);
    -ms-border-radius: var(--spacing_s);
    border-radius: var(--spacing_s);
}

.c_page_communication .date {
    display: block;
    width: 100%;
    min-height: var(--spacing_s);
    font-size: 100%;
    line-height: var(--spacing_s);
    text-align: left;
    color: var(--black);
    white-space: nowrap;
    text-overflow: ellipsis;
}

.c_page_communication .name {
    display: block;
    width: 100%;
    font-size: 160%;
    line-height: 1.12;
    color: var(--black);
    text-align: left;
}

.c_page_communication .piece {
    width: calc(100% - 2px);
    height: auto;
}

.c_page_communication .piece img {
    width: calc(100% - 2px);
}

.c_page_communication .piece:active {
    -o-transform: scale(0.96);
    -webkit-transform: scale(0.96);
    -moz-transform: scale(0.96);
    -ms-transform: scale(0.96);
    transform: scale(0.96);
}

.c_page_communication .links {
    display: block;
    width: 100%;
    min-height: 64px;
    white-space: nowrap;
    -o-border-radius: var(--spacing_s);
    -webkit-border-radius: var(--spacing_s);
    -moz-border-radius: var(--spacing_s);
    -ms-border-radius: var(--spacing_s);
    border-radius: var(--spacing_s);
    overflow-x: auto;
}

.c_page_communication .links .link_button {
    display: inline-flex;
    margin-right: var(--spacing_xs);
    vertical-align: middle;
}

.c_page_communication .links .link_button:last-child {
    margin-right: 0px;
}

.c_page_communication .full_view {
    position: absolute;
    top: 0px;
    left: 0px;
    width: calc(100% - 2px);
    height: calc(100% - 2px);
    overflow: auto;
    -webkit-animation: zoom_in 0.2s cubic-bezier(0.25, 0.46, 0.45, 0.94) 0.2s both;
    animation: zoom_in 0.2s cubic-bezier(0.25, 0.46, 0.45, 0.94) 0.2s both;
}

.c_page_communication .full_view img {
    min-width: 800px;
}

@media (min-width: 720px) {}

@media (min-width: 1366px) {}

@media (min-width: 1600px) {}

@-webkit-keyframes zoom_in {
    from {
        opacity: 0;
        -o-transform: scale3d(0.3, 0.3, 0.3);
        -webkit-transform: scale3d(0.3, 0.3, 0.3);
        -moz-transform: scale3d(0.3, 0.3, 0.3);
        -ms-transform: scale3d(0.3, 0.3, 0.3);
        transform: scale3d(0.3, 0.3, 0.3);
    }

    50% {
        opacity: 1;
    }
}

@keyframes zoom_in {
    from {
        opacity: 0;
        -o-transform: scale3d(0.3, 0.3, 0.3);
        -webkit-transform: scale3d(0.3, 0.3, 0.3);
        -moz-transform: scale3d(0.3, 0.3, 0.3);
        -ms-transform: scale3d(0.3, 0.3, 0.3);
        transform: scale3d(0.3, 0.3, 0.3);
    }

    50% {
        opacity: 1;
    }
}