<div id="c_page_communication{{id}}" class="c_page_communication {{class}}" (window:resize)="on_resize($event);">
    <p class="text date">{{data.creation_date.placeholder| translate}}</p>
    <h3 class="title name">{{data.title| translate}}</h3>
    <div class="piece" (click)="on_full_view_mode();">
        <img src="{{data.mail_piece?.base64}}" alt="">
    </div>
    <div class="links" *ngIf="with_external_links">
        <app-button [id]="" [class]="" class="link_button" [placeholder]="link.placeholder"
            *ngFor="let link of data.external_links"></app-button>
    </div>
    <div class="full_view" *ngIf="full_view_mode" (click)="off_full_view_mode();">
        <img src="{{data.mail_piece?.base64}}" alt="">
    </div>
</div>