#feed_hm {
    padding: 0px;
    height: 100%;
}

#feed_hm .header {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: flex-start;
    padding: 0px;
    margin-bottom: var(--spacing_s);
    gap: 0px;
    flex: none;
    order: 0;
    align-self: stretch;
    flex-grow: 0;
    -webkit-animation: fade_in_up 0.2s cubic-bezier(0.25, 0.46, 0.45, 0.94) 0.2s both;
    animation: fade_in_up 0.2s cubic-bezier(0.25, 0.46, 0.45, 0.94) 0.2s both;
}

#feed_hm.spaces .header {
    gap: var(--spacing_s);
}

#feed_hm .header .content {
    display: flex;
    flex-direction: row;
    align-items: center;
    padding: 0px;
    gap: var(--spacing_s);
    flex: none;
    order: 0;
    align-self: stretch;
    flex-grow: 0;
}

#feed_hm .header .content .left {
    display: flex;
    flex-direction: row;
    align-items: center;
    padding: 0px;
    gap: var(--spacing_s);
    flex: none;
    order: 0;
    flex-grow: 0;
}

#feed_hm .header .content .left svg {
    width: 64px;
    height: 64px;
}

#feed_hm .header .content .right {
    display: flex;
    flex-direction: row;
    justify-content: flex-end;
    align-items: center;
    padding: 0px;
    gap: var(--spacing_s);
    flex: none;
    order: 1;
    flex-grow: 1;
}

#feed_hm .header .content .right .space_selector {
    box-sizing: border-box;
    display: flex;
    flex-direction: row;
    justify-content: flex-end;
    align-items: center;
    padding: var(--spacing_xs) var(--spacing_xs) var(--spacing_xs) var(--spacing_s);
    gap: var(--spacing_xs);
    background: var(--white);
    border: 1px solid var(--neutral);
    flex: none;
    order: 0;
    flex-grow: 0;
    cursor: pointer;
    -o-border-radius: var(--spacing_s);
    -webkit-border-radius: var(--spacing_s);
    -moz-border-radius: var(--spacing_s);
    -ms-border-radius: var(--spacing_s);
    border-radius: var(--spacing_s);
}

#feed_hm .header .content .right .space_selector:active {
    border-color: var(--borders);
    -o-transform: scale(0.96);
    -webkit-transform: scale(0.96);
    -moz-transform: scale(0.96);
    -ms-transform: scale(0.96);
    transform: scale(0.96);
}

#feed_hm .header .content .right .space_selector .label {
    position: relative;
    font-style: normal;
    font-weight: 900;
    font-size: 22px;
    line-height: 29px;
    color: var(--black);
    flex: none;
    order: 0;
    flex-grow: 0;
    top: 2px;
}

#feed_hm .header .content .right .space_selector .icons {
    width: 24px;
    height: 24px;
    flex: none;
    order: 1;
    flex-grow: 0;
}

#feed_hm .header .spaces {
    display: block;
    width: 100%;
    min-height: 0px;
    height: 0px;
    white-space: nowrap;
    overflow-x: auto;
    text-align: center;
    -o-border-radius: var(--spacing_s);
    -webkit-border-radius: var(--spacing_s);
    -moz-border-radius: var(--spacing_s);
    -ms-border-radius: var(--spacing_s);
    border-radius: var(--spacing_s);
}

#feed_hm.spaces .header .spaces {
    min-height: 80px;
    height: auto;
}

#feed_hm .header .spaces .button_spaces {
    display: inline-flex;
    margin-right: var(--spacing_xs);
}

#feed_hm .header .spaces .button_spaces:last-child {
    margin-right: 0px;
}

#feed_hm .body {
    box-sizing: border-box;
    padding: var(--spacing_l);
    background: var(--white);
    border: 1px solid var(--neutral);
    height: calc(100% - 176px);
    transform-origin: 50% 0%;
    -webkit-animation: fade_in_up 0.2s cubic-bezier(0.25, 0.46, 0.45, 0.94) 0.2s both;
    animation: fade_in_up 0.2s cubic-bezier(0.25, 0.46, 0.45, 0.94) 0.2s both;
    -o-border-radius: var(--spacing_s);
    -webkit-border-radius: var(--spacing_s);
    -moz-border-radius: var(--spacing_s);
    -ms-border-radius: var(--spacing_s);
    border-radius: var(--spacing_s);
}

#feed_hm.spaces .body {
    height: calc(100% - 272px);
}

#feed_hm .body .content {
    padding: 0px;
    height: calc(100% - 0px);
    -webkit-animation: fade_in_up 0.2s cubic-bezier(0.25, 0.46, 0.45, 0.94) 0.2s both;
    animation: fade_in_up 0.2s cubic-bezier(0.25, 0.46, 0.45, 0.94) 0.2s both;
}

#feed_hm.internal_window_mode .body .content {
    display: none;
}

#feed_hm .body .content .left {
    padding: 0px;
    height: auto;
    margin-bottom: var(--spacing_l);
}

#feed_hm.loader .body .content .left {
    height: 304px;
}

#feed_hm .body .content .left .communications {
    padding: 0px;
    width: 100%;
    min-height: 296px;
}

#feed_hm .body .content .left .communications .name {
    display: block;
    width: calc(100% - var(--spacing_l));
    margin: 0px auto var(--spacing_xs);
    color: var(--black);
    white-space: nowrap;
    text-align: left;
    text-overflow: ellipsis;
}

#feed_hm .body .content .left .communications .list_communications {
    display: flex;
    flex-direction: row;
    align-items: flex-start;
    padding: 0px;
    gap: var(--spacing_xs);
    width: 100%;
    height: 336px;
    flex: none;
    align-self: stretch;
    flex-grow: 1;
    overflow-x: auto;
    -o-border-radius: var(--spacing_s);
    -webkit-border-radius: var(--spacing_s);
    -moz-border-radius: var(--spacing_s);
    -ms-border-radius: var(--spacing_s);
    border-radius: var(--spacing_s);
}

#feed_hm .body .content .left .communications .list_communications.with_pager {
    height: 360px;
}

#feed_hm.loader .body .content .left .communications .list_communications {
    height: 272px;
}

#feed_hm .body .content .left .communications .list_communications .only {
    display: flex;
    flex-direction: row;
    align-items: flex-start;
    padding: 0px;
    gap: var(--spacing_xs);
    flex: none;
    order: 0;
    flex-grow: 0;
    -o-border-radius: var(--spacing_s);
    -webkit-border-radius: var(--spacing_s);
    -moz-border-radius: var(--spacing_s);
    -ms-border-radius: var(--spacing_s);
    border-radius: var(--spacing_s);
}

#feed_hm .body .content .left .communications .list_communications .only .communication,
#feed_hm .body .content .left .communications .list_communications .only .communication_load {
    width: calc(100vw - 168px);
}

#feed_hm .body .content .left .communications .list_communications .columns {
    padding: 0px;
    width: calc(50% - 0px);
    height: calc(100% - 0px);
    margin-bottom: 0px;
    overflow-y: auto;
    -o-border-radius: var(--spacing_s);
    -webkit-border-radius: var(--spacing_s);
    -moz-border-radius: var(--spacing_s);
    -ms-border-radius: var(--spacing_s);
    border-radius: var(--spacing_s);
}

#feed_hm .body .content .left .communications .list_communications .columns .communication,
#feed_hm .body .content .left .communications .list_communications .columns .communication_load {
    display: flex;
    width: calc(100% - 0px);
    margin-bottom: var(--spacing_xs);
}

#feed_hm .body .content .left .communications .list_communications .columns .communication:last-child,
#feed_hm .body .content .left .communications .list_communications .columns .communication_load:last-child {
    margin-bottom: 0px;
}

#feed_hm .body .content .left .communications .pager_communications {
    display: flex;
    margin-top: var(--spacing_xs);
    justify-content: flex-end;
}

#feed_hm .body .content .right {
    padding: 0px;
    height: calc(100% - 400px);
    overflow-y: auto;
    -o-border-radius: var(--spacing_s);
    -webkit-border-radius: var(--spacing_s);
    -moz-border-radius: var(--spacing_s);
    -ms-border-radius: var(--spacing_s);
    border-radius: var(--spacing_s);
}

#feed_hm.loader .body .content .right {
    height: calc(100% - 336px);
}

#feed_hm.pager .body .content .right {
    height: calc(100% - 472px);
}

#feed_hm .body .content .right .list_options {
    padding: 0px;
    width: 100%;
    margin-bottom: var(--spacing_s);
}

#feed_hm .body .content .right .list_options:last-child {
    margin-bottom: 0px;
}

#feed_hm .body .content .right .list_options .name {
    display: block;
    width: calc(100% - var(--spacing_l));
    margin: 0px auto var(--spacing_xs);
    color: var(--black);
    white-space: nowrap;
    text-align: left;
    text-overflow: ellipsis;
}

#feed_hm .body .content .right .list_options .options {
    padding: 0px;
    width: 100%;
    height: 64px;
    white-space: nowrap;
    overflow-x: auto;
    -o-border-radius: var(--spacing_s);
    -webkit-border-radius: var(--spacing_s);
    -moz-border-radius: var(--spacing_s);
    -ms-border-radius: var(--spacing_s);
    border-radius: var(--spacing_s);
}

#feed_hm .body .content .right .list_options .options .option {
    display: inline-flex;
    margin-right: var(--spacing_xs);
}

#feed_hm .body .content .right .list_options .options .option:last-child {
    margin-right: 0px;
}

#feed_hm .body .internal_window {
    display: none;
}

#feed_hm.internal_window_mode .body .internal_window {
    display: block;
    position: relative;
    width: calc(100% - 0px);
    height: calc(100% - 0px);
    -webkit-animation: fade_in_up 0.2s cubic-bezier(0.25, 0.46, 0.45, 0.94) 0.2s both;
    animation: fade_in_up 0.2s cubic-bezier(0.25, 0.46, 0.45, 0.94) 0.2s both;
}

#feed_hm .body .internal_window .i_frame,
#feed_hm .body .internal_window .content_communication {
    position: relative;
    width: calc(100% - 2px);
    height: calc(100% - 80px);
    border: 1px solid var(--borders);
    -o-border-radius: var(--spacing_s);
    -webkit-border-radius: var(--spacing_s);
    -moz-border-radius: var(--spacing_s);
    -ms-border-radius: var(--spacing_s);
    border-radius: var(--spacing_s);
}

#feed_hm .body .internal_window .content_communication {
    overflow-y: auto;
}

#feed_hm .body .internal_window .content_communication .full_communication {
    display: flex;
}

#feed_hm .body .internal_window .actions_window {
    position: relative;
    width: calc(100% - 0px);
    height: 64px;
    margin-top: var(--spacing_s);
    text-align: right;
    white-space: nowrap;
    overflow-x: auto;
}

#feed_hm .body .internal_window .actions_window .buttons_internal_window {
    display: inline-flex;
    margin-right: var(--spacing_xs);
}

#feed_hm .body .internal_window .actions_window .buttons_internal_window:last-child {
    margin-right: 0px;
}

#feed_hm .footer {
    display: flex;
    flex-direction: row;
    align-items: flex-start;
    padding: 0px;
    margin-top: var(--spacing_s);
    gap: var(--spacing_s);
    min-height: 80px;
    flex: none;
    order: 2;
    align-self: stretch;
    flex-grow: 0;
    -webkit-animation: fade_in_up 0.2s cubic-bezier(0.25, 0.46, 0.45, 0.94) 0.6s both;
    animation: fade_in_up 0.2s cubic-bezier(0.25, 0.46, 0.45, 0.94) 0.6s both;
}

#feed_hm .footer .left {
    width: 56px;
}

#feed_hm .footer .right {
    width: calc(100% - 72px);
}

#feed_hm .footer .right .search_field {
    display: flex;
    width: calc(100% - 0px);
}

@media (min-width: 720px) {
    #feed_hm .header .spaces {
        text-align: right;
    }

    #feed_hm.spaces .body {
        height: calc(100% - 272px);
    }

    #feed_hm .body .content .left .communications .list_communications {
        overflow-x: hidden;
    }

    #feed_hm .body .content .right .list_options .options {
        text-align: right;
    }
}

@media (min-width: 1366px) {
    #feed_hm .header .content .right .space_selector:hover {
        border-color: var(--borders);
    }

    #feed_hm .header .content .right .space_selector:active {
        border-color: var(--borders);
        -o-transform: scale(0.96);
        -webkit-transform: scale(0.96);
        -moz-transform: scale(0.96);
        -ms-transform: scale(0.96);
        transform: scale(0.96);
    }

    #feed_hm .header .content .right .space_selector .label {
        top: 0px;
    }

    #feed_hm.internal_window_mode .body {
        white-space: nowrap;
        overflow: hidden;
    }

    #feed_hm .body .content {
        white-space: nowrap;
        overflow: hidden;
    }

    #feed_hm.internal_window_mode .body .content {
        display: inline-block;
        width: 400px;
    }

    #feed_hm .body .content .left,
    #feed_hm .body .content .right {
        display: inline-block;
        margin-right: var(--spacing_s);
        margin-bottom: 0px;
        margin-left: 0px;
        width: calc(50% - var(--spacing_s));
        height: 100%;
    }

    #feed_hm.internal_window_mode .body .content .left {
        width: 0px;
    }

    #feed_hm .body .content .left .communications {
        min-height: 296px;
        height: calc(100% - 0px);
    }

    #feed_hm .body .content .left .communications .list_communications {
        height: calc(100% - 32px);
    }

    #feed_hm.pager .body .content .left .communications .list_communications {
        height: calc(100% - 104px);
    }

    #feed_hm .body .content .left .communications .list_communications .columns {
        margin-right: 0px;
    }

    #feed_hm .body .content .left .communications .pager_communications {
        justify-content: flex-start;
    }

    #feed_hm .body .content .right {
        height: auto;
        max-height: 100%;
        margin-right: 0px;
        margin-bottom: 0px;
        margin-left: var(--spacing_s);
    }

    #feed_hm.internal_window_mode .body .content .right {
        margin-left: 0px;
        width: 400px;
    }

    #feed_hm.pager .body .content .right {
        height: 100%;
    }

    #feed_hm .body .content .right .list_options .options {
        text-align: left;
    }

    #feed_hm.internal_window_mode .body .internal_window {
        display: inline-block;
        margin-left: var(--spacing_l);
        width: calc(100% - 432px);
    }

    #feed_hm .footer .right .search_field {
        position: relative;
        float: right;
        max-width: 512px;
    }
}

@media (min-width: 1600px) {}

@-webkit-keyframes fade_in_up {
    from {
        opacity: 0;
        -o-transform: translate3d(0, 100%, 0);
        -webkit-transform: translate3d(0, 100%, 0);
        -moz-transform: translate3d(0, 100%, 0);
        -ms-transform: translate3d(0, 100%, 0);
        transform: translate3d(0, 100%, 0);
    }

    to {
        opacity: 1;
        -o-transform: translate3d(0, 0, 0);
        -webkit-transform: translate3d(0, 0, 0);
        -moz-transform: translate3d(0, 0, 0);
        -ms-transform: translate3d(0, 0, 0);
        transform: translate3d(0, 0, 0);
    }
}

@keyframes fade_in_up {
    from {
        opacity: 0;
        -o-transform: translate3d(0, 100%, 0);
        -webkit-transform: translate3d(0, 100%, 0);
        -moz-transform: translate3d(0, 100%, 0);
        -ms-transform: translate3d(0, 100%, 0);
        transform: translate3d(0, 100%, 0);
    }

    to {
        opacity: 1;
        -o-transform: translate3d(0, 0, 0);
        -webkit-transform: translate3d(0, 0, 0);
        -moz-transform: translate3d(0, 0, 0);
        -ms-transform: translate3d(0, 0, 0);
        transform: translate3d(0, 0, 0);
    }
}