<div id="feed_hm" class="component {{class}}"
    [ngClass]="{spaces: open_spaces, loader_mode: loader_mode, pager: with_pager_communications, internal_window_mode: internal_window_mode}"
    (window:resize)="on_resize($event);">
    <div class="header">
        <div class="content">
            <div class="left">
                <svg width="64" height="64" viewBox="0 0 64 64" fill="none" xmlns="http://www.w3.org/2000/svg">
                    <path
                        d="M48.7431 58.8972L40.0963 49.8823C39.7707 49.5428 39.5151 49.1425 39.3442 48.7042C39.1732 48.266 39.0903 47.7983 39.1001 47.328C39.1199 46.3782 39.5162 45.4752 40.2019 44.8175C40.8875 44.1599 41.8063 43.8016 42.7561 43.8213C43.7059 43.8411 44.609 44.2374 45.2666 44.9231L53.9134 53.938C54.571 54.6237 54.9294 55.5424 54.9096 56.4923C54.8898 57.4421 54.4935 58.3452 53.8078 59.0028C53.1222 59.6604 52.2034 60.0188 51.2536 59.999C50.3038 59.9792 49.4007 59.5829 48.7431 58.8972ZM36.4328 58.0492C27.5554 58.0492 20.3333 50.827 20.3333 41.9497V25.8607C20.3333 16.9835 27.5554 9.76123 36.4328 9.76123H37.6367C46.514 9.76123 53.7362 16.9834 53.7362 25.8607V41.9502C53.7362 42.9002 53.3588 43.8113 52.687 44.4831C52.0153 45.1549 51.1042 45.5323 50.1541 45.5323C49.2041 45.5323 48.293 45.1549 47.6212 44.4831C46.9494 43.8113 46.5721 42.9002 46.5721 41.9502V25.8607C46.5694 23.4918 45.6271 21.2206 43.952 19.5455C42.2768 17.8704 40.0057 16.9281 37.6367 16.9255H36.4328C34.0638 16.9281 31.7926 17.8704 30.1175 19.5455C28.4424 21.2206 27.5001 23.4918 27.4974 25.8607V41.9503C27.5001 44.3193 28.4423 46.5905 30.1175 48.2656C31.7926 49.9407 34.0638 50.883 36.4328 50.8856H37.6367C38.5867 50.8856 39.4978 51.263 40.1696 51.9348C40.8414 52.6066 41.2188 53.5177 41.2188 54.4677C41.2188 55.4177 40.8414 56.3289 40.1696 57.0006C39.4978 57.6724 38.5867 58.0498 37.6367 58.0498L36.4328 58.0492Z"
                        fill="var(--red)" />
                    <path
                        d="M26.602 4C36.258 4 44.1145 11.856 44.1145 21.5124C44.1145 31.1688 36.2585 39.0249 26.602 39.0249C16.9455 39.0249 9.0896 31.1688 9.0896 21.5124C9.0896 11.856 16.9456 4 26.602 4ZM26.602 31.8607C28.6487 31.8607 30.6494 31.2538 32.3512 30.1167C34.0529 28.9797 35.3793 27.3635 36.1625 25.4726C36.9458 23.5817 37.1507 21.501 36.7514 19.4937C36.3521 17.4863 35.3666 15.6424 33.9193 14.1952C32.4721 12.748 30.6282 11.7624 28.6209 11.3631C26.6135 10.9638 24.5329 11.1687 22.642 11.9519C20.7511 12.7352 19.1349 14.0615 17.9978 15.7632C16.8607 17.465 16.2538 19.4657 16.2538 21.5124C16.2569 24.256 17.3481 26.8863 19.2881 28.8263C21.2281 30.7663 23.8584 31.8576 26.602 31.8607Z"
                        fill="var(--black)" />
                    <path
                        d="M37.6369 16.9253H36.4329C36.2489 16.9253 36.0663 16.9309 35.8853 16.9419C35.2242 15.6052 34.2833 14.4264 33.1263 13.4856C31.9694 12.5447 30.6235 11.8639 29.1802 11.4892C31.428 10.3502 33.913 9.75812 36.4329 9.76118H37.6369C38.3243 9.76104 39.011 9.80468 39.6929 9.89182C42.1077 12.6015 43.6173 15.997 44.0114 19.6051C43.1811 18.7562 42.1894 18.0818 41.0947 17.6216C40 17.1614 38.8244 16.9247 37.6369 16.9253Z"
                        fill="var(--red)" stroke="var(--red)" stroke-linecap="round" />
                </svg>
            </div>
            <div class="right">
                <div class="space_selector" (click)="on_off_space();">
                    <p class="label title">{{current_space | translate}}</p>
                    <i class="icons icon_expand_all" *ngIf="!open_spaces"></i>
                    <i class="icons icon_collapse_all" *ngIf="open_spaces"></i>
                </div>
                <app-button [id]="'log_out_feed_hm'" class="button_log_out" [class]="'log_out_feed_hm'"
                    [icon_code]="'logout'" [placeholder]="''" [tooltip]="'common.t0004'" *ngIf="phone_mode"
                    (clicked)="on_close_session();"></app-button>
                <app-button [id]="'log_out_feed_hm'" class="button_log_out" [class]="'log_out_feed_hm'"
                    [placeholder]="'common.t0004'" (clicked)="on_close_session();" *ngIf="!phone_mode"></app-button>
            </div>
        </div>
        <div class="spaces">
            <app-button [id]="'feed_feed_hm'" class="button_spaces" [class]="'button_spaces_hm'"
                [icon_code]="'view_day'" [tooltip]="'home.feed.t0000'" [name]="'home.feed.t0000'" [placeholder]="''"
                [active]="current_space == 'home.feed.t0000'"
                (clicked)="on_change_space('home.feed.t0000', 'feed')"></app-button>
            <app-button [id]="'creation_feed_hm'" class="button_spaces" [class]="'button_spaces_hm'"
                [icon_code]="'design_services'" [tooltip]="'home.feed.t0001'" [name]="'home.feed.t0001'"
                [placeholder]="''" [active]="current_space == 'home.feed.t0001'"
                (clicked)="on_change_space('home.feed.t0001', 'creation')"></app-button>
            <app-button [id]="'gestion_feed_hm'" class="button_spaces" [class]="'button_spaces_hm'"
                [icon_code]="'data_table'" [tooltip]="'home.feed.t0002'" [name]="'home.feed.t0002'" [placeholder]="''"
                [active]="current_space == 'home.feed.t0002'"
                (clicked)="on_change_space('home.feed.t0002', 'gestion')"></app-button>
            <app-button [id]="'support_feed_hm'" class="button_spaces" [class]="'button_spaces_hm'"
                [icon_code]="'confirmation_number'" [tooltip]="'home.feed.t0003'" [name]="'home.feed.t0003'"
                [placeholder]="''" [active]="current_space == 'home.feed.t0003'"
                (clicked)="on_change_space('home.feed.t0003', 'support')"></app-button>
            <app-button [id]="'work_feed_hm'" class="button_spaces" [class]="'button_spaces_hm'" [icon_code]="'work'"
                [tooltip]="'home.feed.t0004'" [name]="'home.feed.t0004'" [placeholder]="''"
                [active]="current_space == 'home.feed.t0004'"
                (clicked)="on_change_space('home.feed.t0004', 'work')"></app-button>
        </div>
    </div>
    <div class="body">
        <div class="content">
            <div class="left">
                <div class="communications">
                    <p class="text name">{{ "home.feed.t0005" | translate}}</p>
                    <div id="list_communications_feed_hm" class="list_communications">
                        <div class="only" *ngIf="phone_mode">
                            <ng-container *ngIf="list_communications else communication_loaders">
                                <app-communication [id]="communication.id" [class]="'communication_feed_hm'"
                                    class="communication" [data]="communication"
                                    (click)="on_communication(communication);"
                                    *ngFor="let communication of list_communications"></app-communication>
                            </ng-container>
                            <ng-template #communication_loaders>
                                <app-communication-load class="communication_load"
                                    *ngFor="let communication_load_only of [0,1,2,3,4,5,6,7]"></app-communication-load>
                            </ng-template>
                        </div>
                        <div class="left columns">
                            <ng-container *ngIf="list_communicated_left else communication_loaders_left">
                                <app-communication [id]="communication_left.id" [class]="'communication_feed_hm'"
                                    class="communication" [data]="communication_left"
                                    (click)="on_communication(communication_left);"
                                    *ngFor="let communication_left of list_communicated_left"></app-communication>
                            </ng-container>
                            <ng-template #communication_loaders_left>
                                <app-communication-load class="communication_load"
                                    *ngFor="let communication_load_left of [0,1,2,3,4,5,6,7]"></app-communication-load>
                            </ng-template>
                        </div>
                        <div class="right columns">
                            <ng-container *ngIf="list_communicated_right else communication_loaders_right">
                                <app-communication [id]="communication_right.id" [class]="'communication_feed_hm'"
                                    class="communication" [data]="communication_right"
                                    (click)="on_communication(communication_right);"
                                    *ngFor="let communication_right of list_communicated_right"></app-communication>
                            </ng-container>
                            <ng-template #communication_loaders_right>
                                <app-communication-load class="communication_load"
                                    *ngFor="let communication_load_right of [0,1,2,3,4,5,6,7]"></app-communication-load>
                            </ng-template>
                        </div>
                    </div>
                    <app-pager [id]="'pager_communications'" class="pager_communications"
                        *ngIf="with_pager_communications"></app-pager>
                </div>
            </div>
            <div class="right">
                <div id="requests" class="list_options">
                    <p class="text name">{{ "home.feed.t0006" | translate}}</p>
                    <div id="list_requests_feed_hm" class="options">
                        <app-button id="request_{{request.id}}" class="option" [placeholder]="request.placeholder"
                            (clicked)="on_list_options(request);"
                            *ngFor="let request of request_button_list"></app-button>
                    </div>
                </div>
                <div id="tickets" class="list_options">
                    <p class="text name">{{ "home.feed.t0007" | translate}}</p>
                    <div id="list_tickets_feed_hm" class="options">
                        <app-button id="" class="option" [placeholder]="ticket.placeholder"
                            *ngFor="let ticket of ticket_button_list"></app-button>
                    </div>
                </div>
                <div id="links" class="list_options">
                    <p class="text name">{{ "home.feed.t0008" | translate}}</p>
                    <div id="list_links_feed_hm" class="options">
                        <app-button id="" class="option" [placeholder]="link.placeholder"
                            *ngFor="let link of link_button_list"></app-button>
                    </div>
                </div>
            </div>
        </div>
        <div class="internal_window">
            <iframe *ngIf="process_to_open == 'purchase_orders'" id="purchase_orders_requests" class="i_frame"
                src="https://forms.office.com/Pages/ResponsePage.aspx?id=Cfx_4xoxFEyESCtOxx2hUzE7tJns6d9OkYrC6zZ8jOZURExRMUM3QkpKV09ONExRWFQ5NlY4WEdDVS4u&embed=true"
                frameborder="0" marginwidth="0" marginheight="0" allowfullscreen webkitallowfullscreen
                mozallowfullscreen msallowfullscreen> </iframe>
            <div class="content_communication" *ngIf="process_to_open == 'communication'">
                <app-page-communication id="page_communication" class="full_communication"
                    [data]="communication_to_open"></app-page-communication>
            </div>
            <div class="actions_window">
                <app-button [id]="" class="buttons_internal_window" [class]="'internal_window_button'"
                    [placeholder]="'common.t0003'" (clicked)="off_list_options();"></app-button>
            </div>
        </div>
    </div>
    <div class="footer">
        <div class="left">
            <app-button [id]="'apps_feed_hm'" class="button_footer" [class]="'button_footer_hm'" [icon_code]="'apps'"
                [tooltip]="'home.feed.t0009'" [name]="'home.feed.t0009'" [placeholder]="''"></app-button>
        </div>
        <div class="right">
            <app-input-search [id]="'search_field_feed_hm'" class="search_field" [class]="'search_field_feed_hm'"
                [list_to_search]="'process'"></app-input-search>
        </div>
    </div>
</div>