#maintenance_in {
    display: flex;
    flex-direction: column;
    justify-content: flex-end;
    align-items: center;
    padding: 0px;
    gap: var(--spacing_s);
    flex: none;
    order: 1;
    align-self: stretch;
    flex-grow: 1;
}

#maintenance_in .body {
    box-sizing: border-box;
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: var(--spacing_l);
    gap: var(--spacing_l);
    background: var(--white);
    border: 1px solid var(--neutral);
    flex: none;
    order: 1;
    align-self: stretch;
    flex-grow: 0;
    -o-border-radius: var(--spacing_s);
    -webkit-border-radius: var(--spacing_s);
    -moz-border-radius: var(--spacing_s);
    -ms-border-radius: var(--spacing_s);
    border-radius: var(--spacing_s);
}

#maintenance_in .body .image {
    width: 288px;
    height: 288px;
    flex: none;
    order: 0;
    flex-grow: 0;
}

#maintenance_in .body .content {
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 0px;
    gap: var(--spacing_s);
    max-width: 320px;
    flex: none;
    order: 1;
    align-self: stretch;
    flex-grow: 0;
}

#maintenance_in .body .content .description {
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 0px;
    gap: var(--spacing_xs);
    flex: none;
    order: 0;
    align-self: stretch;
    flex-grow: 0;
}

#maintenance_in .body .content .description .title {
    text-align: right;
    color: var(--dark);
    flex: none;
    order: 0;
    align-self: stretch;
    flex-grow: 0;
}

#maintenance_in .body .content .description .text {
    color: var(--dark);
    flex: none;
    order: 1;
    align-self: stretch;
    flex-grow: 0;
}

#maintenance_in .body .content .actions {
    display: block;
    padding: 0px;
    height: 56px;
    align-self: stretch;
}

#maintenance_in .body .content .actions .button_action {
    display: inline-flex;
    margin-right: var(--spacing_xs);
}

#maintenance_in .body .content .actions .button_action:last-child {
    margin-right: 0px;
}

@media (min-width: 720px) {
    #maintenance_in .body {
        flex-direction: row;
        gap: 64px;
    }

    #maintenance_in .body .content {
        justify-content: center;
        min-width: calc(100% - 384px);
        width: calc(100% - 384px);
    }
}

@media (min-width: 1366px) {}

@media (min-width: 1600px) {}