<div id="maintenance_in" class="component {{class}}" (window:resize)="on_resize($event);">
    <div class=" body">
        <img class="image" src="./../../../../../assets/images/information/maintenance/00.svg" alt="">
        <div class="content">
            <div class="description">
                <h1 class="title">{{"information.maintenance.t0000" | translate}}</h1>
                <p class="text">{{"information.maintenance.t0001" | translate}}</p>
            </div>
            <div class="actions align">
                <app-button class="button_action" id="sqdm_maintenance_in"
                    [placeholder]="'information.maintenance.t0002'" (clicked)="on_go_to();"></app-button>
            </div>
        </div>
    </div>
</div>