<div id="link_qix_{{id}}" class="link_qix {{class}} {{theme}} {{type}}" qix tooltip="{{tooltip}}" (click)="on_click();">
    <i id="icon_qix__{{id}}" class="icons" *ngIf="icon_code"></i>
    <p id="placeholder_qix__{{id}}" class="placeholder">{{placeholder | translate}}</p>
</div>