.link_qix,
.link_qix.default {
    box-sizing: border-box;
    display: flex;
    flex-direction: row;
    justify-content: flex-end;
    align-items: center;
    padding: 4px var(--spacing_xs);
    background: var(--light);
    border: 1px solid var(--neutral);
    flex: none;
    order: 0;
    flex-grow: 0;
    -o-border-radius: var(--spacing_xs);
    -webkit-border-radius: var(--spacing_xs);
    -moz-border-radius: var(--spacing_xs);
    -ms-border-radius: var(--spacing_xs);
    border-radius: var(--spacing_xs);
}

.link_qix.red {
    background: var(--red);
}

.link_qix.black {
    background: var(--black);
}

.link_qix:active {
    -o-transform: scale(0.96);
    -webkit-transform: scale(0.96);
    -moz-transform: scale(0.96);
    -ms-transform: scale(0.96);
    transform: scale(0.96);
}

.link_qix .icons {
    display: flex;
    flex-direction: row;
    align-items: flex-start;
    padding: 0px;
    gap: 0px;
    width: 20px;
    height: 20px;
    font-size: 20px;
    line-height: 20px;
    color: var(--black);
    flex: none;
    order: 0;
    flex-grow: 0;
}

.link_qix .placeholder {
    font-family: noto-sans, sans-serif;
    font-style: normal;
    font-weight: 300;
    font-size: 15px;
    line-height: 20px;
    color: var(--black);
    flex: none;
    order: 0;
    flex-grow: 0;
}

.link_qix.red .icons,
.link_qix.red .placeholder {
    color: var(--pure_white);
}

.link_qix.black .icons,
.link_qix.black .placeholder {
    color: var(--light);
}

.link_qix .placeholder::first-letter {
    text-transform: uppercase;
}

@media (min-width: 720px) {}

@media (min-width: 1366px) {
    .link_qix:hover {
        border-color: var(--borders);
    }

    .link_qix:active {
        border-color: var(--borders);
        -o-transform: scale(0.96);
        -webkit-transform: scale(0.96);
        -moz-transform: scale(0.96);
        -ms-transform: scale(0.96);
        transform: scale(0.96);
    }
}

@media (min-width: 1600px) {}