.c_communication_load {
    box-sizing: border-box;
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    padding: var(--spacing_s);
    width: calc(100% - 0px);
    gap: var(--spacing_xs);
    background: var(--load_element);
    border: 1px solid var(--neutral);
    border-radius: var(--spacing_s);
    flex: none;
    order: 1;
    flex-grow: 0;
}

.c_communication_load .date {
    height: var(--spacing_s);
    background: var(--load_element);
    -o-border-radius: var(--spacing_s);
    -webkit-border-radius: var(--spacing_s);
    -moz-border-radius: var(--spacing_s);
    -ms-border-radius: var(--spacing_s);
    border-radius: var(--spacing_s);
}

.c_communication_load .name {
    height: var(--spacing_m);
    background: var(--load_element);
    -o-border-radius: var(--spacing_s);
    -webkit-border-radius: var(--spacing_s);
    -moz-border-radius: var(--spacing_s);
    -ms-border-radius: var(--spacing_s);
    border-radius: var(--spacing_s);
}

.c_communication_load .thumbnail {
    box-sizing: border-box;
    border: 1px solid var(--neutral);
    background: var(--load_element);
    width: 100%;
    aspect-ratio: 4 / 3;
    -o-border-radius: var(--spacing_m);
    -webkit-border-radius: var(--spacing_m);
    -moz-border-radius: var(--spacing_m);
    -ms-border-radius: var(--spacing_m);
    border-radius: var(--spacing_m);
}

@media (min-width: 720px) {}

@media (min-width: 1366px) {}

@media (min-width: 1600px) {}