<div id="c_communication_load__{{id}}" class="c_communication_load {{class}}" (window:resize)="on_resize($event);">
    <div class="text date" [ngStyle]="{width: date.width}" *ngFor="let date of number_date"></div>
    <div class="title name" [ngStyle]="{width: date.width}" *ngFor="let date of number_titles"></div>
    <div class="thumbnail"></div>
</div>