.c_communication {
    box-sizing: border-box;
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    padding: var(--spacing_s);
    gap: var(--spacing_xs);
    width: calc(100% - 0px);
    background: var(--light);
    border: 1px solid var(--neutral);
    flex: none;
    order: 1;
    flex-grow: 0;
    -o-border-radius: var(--spacing_s);
    -webkit-border-radius: var(--spacing_s);
    -moz-border-radius: var(--spacing_s);
    -ms-border-radius: var(--spacing_s);
    border-radius: var(--spacing_s);
}

.c_communication:active {
    border-color: var(--borders);
    -o-transform: scale(0.96);
    -webkit-transform: scale(0.96);
    -moz-transform: scale(0.96);
    -ms-transform: scale(0.96);
    transform: scale(0.96);
}

.c_communication .date {
    display: block;
    width: 100%;
    min-height: var(--spacing_s);
    font-size: 12px;
    line-height: var(--spacing_s);
    text-align: left;
    color: var(--black);
    white-space: nowrap;
    text-overflow: ellipsis;
    cursor: pointer;
}

.c_communication .name {
    display: block;
    width: 100%;
    font-size: 18px;
    line-height: var(--spacing_m);
    color: var(--black);
    text-align: left;
    white-space: nowrap;
    text-overflow: ellipsis;
    cursor: pointer;
}

.c_communication .thumbnail {
    box-sizing: border-box;
    border: 1px solid var(--neutral);
    width: 100%;
    aspect-ratio: 4 / 3;
    cursor: pointer;
    -o-border-radius: var(--spacing_m);
    -webkit-border-radius: var(--spacing_m);
    -moz-border-radius: var(--spacing_m);
    -ms-border-radius: var(--spacing_m);
    border-radius: var(--spacing_m);
}

.c_communication .thumbnail img {
    width: 100%;
}

.c_communication .links {
    display: block;
    width: 100%;
    min-height: 64px;
    white-space: nowrap;
    -o-border-radius: var(--spacing_s);
    -webkit-border-radius: var(--spacing_s);
    -moz-border-radius: var(--spacing_s);
    -ms-border-radius: var(--spacing_s);
    border-radius: var(--spacing_s);
    overflow-x: auto;
}

.c_communication .links .link_button {
    display: inline-flex;
    margin-right: var(--spacing_xs);
    vertical-align: middle;
}

.c_communication .links .link_button:last-child {
    margin-right: 0px;
}

@media (min-width: 720px) {}

@media (min-width: 1366px) {

    .c_communication:hover {
        border-color: var(--borders);
    }

    .c_communication:active {
        -o-transform: scale(0.96);
        -webkit-transform: scale(0.96);
        -moz-transform: scale(0.96);
        -ms-transform: scale(0.96);
        transform: scale(0.96);
    }
}

@media (min-width: 1600px) {}