@import url(./../../../node_modules/animate.css/animate.css);

/* Delay times in starting an animation*/
.one_animation_qix {
    -webkit-animation-delay: 0.2s;
    animation-delay: 0.2s;
}

.two_animation_qix {
    -webkit-animation-delay: 0.4s;
    animation-delay: 0.4s;
}

.three_animation_qix {
    -webkit-animation-delay: 0.6s;
    animation-delay: 0.6s;
}

.four_animation_qix {
    -webkit-animation-delay: 0.8s;
    animation-delay: 0.8s;
}

.five_animation_qix {
    -webkit-animation-delay: 1s;
    animation-delay: 1s;
}

.six_animation_qix {
    -webkit-animation-delay: 1.2s;
    animation-delay: 1.2s;
}

.eight_animation_qix {
    -webkit-animation-delay: 1.4s;
    animation-delay: 1.4s;
}

.nine_animation_qix {
    -webkit-animation-delay: 1.6s;
    animation-delay: 1.6s;
}

.ten_animation_qix {
    -webkit-animation-delay: 1.8s;
    animation-delay: 1.8s;
}

/* End*/

/* Other more explicit animations*/
/* End*/