.input_search_qix {
    padding: 0px;
    width: calc(100% - 0px);
}

.input_search_qix .name {
    width: calc(100% - 0px);
    padding: 0px var(--spacing_s);
    white-space: nowrap;
    margin-bottom: var(--spacing_xs);
}

.input_search_qix .name .label {
    display: inline-block;
    font-family: noto-sans, sans-serif;
    font-style: normal;
    font-weight: 300;
    font-size: 15px;
    line-height: 20px;
    text-align: right;
    color: var(--dark);
    width: auto;
    max-width: calc(100% - 0px);
}

.input_search_qix.required .name .label {
    max-width: calc(100% - 32px);
}

.input_search_qix .name .required {
    display: inline-block;
    font-family: noto-sans, sans-serif;
    font-style: normal;
    font-weight: 300;
    font-size: 15px;
    line-height: 20px;
    text-align: right;
    color: var(--red);
    margin-left: var(--margin_base);
}

.input_search_qix .input {
    box-sizing: border-box;
    padding: var(--spacing_xs) var(--spacing_s);
    height: 56px;
    background: var(--light);
    border: 1px solid var(--borders);
    border-radius: var(--spacing_s);
    white-space: nowrap;
}

.input_search_qix.focus .input,
.input_search_qix.active .input,
.input_search_qix.error .input {
    border-color: var(--black);
}

.input_search_qix .input .text {
    position: relative;
    display: inline-block;
    padding: 0px;
    white-space: nowrap;
    width: calc(100% - var(--spacing_xl));
    margin-right: var(--spacing_s);
    vertical-align: middle;
    top: 5px;
}

.input_search_qix .input .text .inp {
    position: relative;
    display: inline-block;
    font-family: noto-sans, sans-serif;
    font-style: normal;
    font-weight: 300;
    font-size: 15px;
    line-height: 20px;
    text-align: left;
    color: var(--black);
    background: transparent;
    width: calc(100% - 0px);
    vertical-align: baseline;
    z-index: 1;
}

.input_search_qix.required .input .text .inp {
    width: calc(100% - 32px);

}

.input_search_qix .input .text .inp::placeholder {
    color: var(--placeholders);
}

.input_search_qix .input .text .inp::first-letter,
.input_search_qix .input .text .inp::placeholder::first-letter {
    text-transform: uppercase;
}

.input_search_qix .input .text .data_list .data_list_option.show {
    display: block;
}

.input_search_qix .input .text .data_list .data_list_option.hide {
    display: none;
}

.input_search_qix .input .text .hide_arrow {
    position: absolute;
    top: 0px;
    right: 0px;
    width: 24px;
    height: 24px;
    z-index: 2;
    background: var(--light);
}

.input_search_qix .input .text .required {
    display: inline-block;
    font-family: noto-sans, sans-serif;
    font-style: normal;
    font-weight: 300;
    font-size: 15px;
    line-height: 20px;
    text-align: right;
    color: var(--red);
    position: relative;
    top: 10px;
}

.input_search_qix.required .input .text .required {
    margin-left: var(--margin_base);
}

.input_search_qix .input .search {
    position: relative;
    display: inline-flex;
    color: var(--placeholders);
    vertical-align: bottom;
    top: 6px;
}

.input_search_qix.focus .input .search,
.input_search_qix.active .input .search,
.input_search_qix.error .input .search {
    color: var(--black);
}

.input_search_qix .feedback {
    padding: var(--spacing_xs);
    background: var(--failed);
    border-radius: var(--spacing_xs);
    margin-top: var(--spacing_xs);
}

.input_search_qix .feedback .message {
    font-family: noto-sans, sans-serif;
    font-style: normal;
    font-weight: 300;
    font-size: 15px;
    line-height: 20px;
    color: var(--pure_black);
    width: auto;
    max-width: calc(100% - 0px);
    white-space: nowrap;
    overflow-x: auto;
    text-overflow: ellipsis;
}

@media (min-width: 720px) {}

@media (min-width: 1366px) {
    .input_search_qix .input:hover {
        background: var(--white);
    }

    .input_search_qix .input:hover .text .hide_arrow {
        background: var(--white);
    }
}

@media (min-width: 1600px) {}