<div id="input_search_qix_{{id}}" class="input_search_qix {{class}}"
    [ngClass]="{required: required, focus: focus_mode, active: active_mode, error: error}">
    <div class="name" *ngIf="name">
        <p class="label text" qix title="{{placeholder}}">{{name | translate}}</p>
        <span class="required" *ngIf="required"> *</span>
    </div>
    <div class="input">
        <div class="text">
            <input type="text" name="inp_search_qix_{{id}}" id="inp_search_qix_{{id}}" class="inp inp"
                list="list_to_search" [placeholder]="placeholder" (focus)="on_focus($event);" (blur)="on_blur($event);">
            <datalist id="list_to_search" class="data_list">
                <option class="data_list_option" selected="{{option.selected}}"
                    [ngClass]="{show: option.show_hide, hide: !option.show_hide}" *ngFor="let option of search_list">
                    {{option.placeholder | translate}}
                </option>
            </datalist>
            <div class="hide_arrow"></div>
            <span class="required" *ngIf="required"> *</span>
        </div>
        <i class="icon search icon_search"></i>
    </div>
    <div class="feedback" *ngIf="error">
        <p class="message text">{{error_message | translate}}</p>
    </div>
</div>