.button_qix {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: flex-end;
    padding: 0px var(--unit_shadow) var(--unit_shadow) 0px;
    max-width: 256px;
    flex: none;
    order: 0;
    flex-grow: 0;
    cursor: pointer;
}

.button_qix .content,
.button_qix.white .content {
    box-sizing: border-box;
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    padding: var(--spacing_xs) 12px;
    gap: var(--spacing_xs);
    min-width: 50px;
    max-width: 100%;
    height: 50px;
    background: var(--light);
    border: 1px solid var(--dark);
    box-shadow: var(--shadow);
    flex: none;
    order: 0;
    flex-grow: 0;
}

.button_qix.red .content {
    background: var(--red);
}

.button_qix.black .content {
    background: var(--black);
}

.button_qix:active .content,
.button_qix.active .content {
    box-shadow: var(--shadow_active);
    -o-transform: translate(var(--unit_shadow), var(--unit_shadow));
    -webkit-transform: translate(var(--unit_shadow), var(--unit_shadow));
    -moz-transform: translate(var(--unit_shadow), var(--unit_shadow));
    -ms-transform: translate(var(--unit_shadow), var(--unit_shadow));
    transform: translate(var(--unit_shadow), var(--unit_shadow));
}

.button_qix .content .icons,
.button_qix.white .content .icons {
    position: relative;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
    padding: 0px;
    gap: 0px;
    width: var(--spacing_m);
    height: var(--spacing_m);
    font-size: 22px;
    line-height: var(--spacing_m);
    text-align: center;
    color: var(--dark);
    flex: none;
    order: 0;
    flex-grow: 0;
}

.button_qix .content .placeholder {
    display: block;
    position: relative;
    top: -1px;
    width: auto;
    max-width: 100%;
    height: var(--spacing_m);
    min-height: var(--spacing_m);
    font-family: azo-sans-web, sans-serif;
    font-style: normal;
    font-weight: 900;
    font-size: 18px;
    line-height: var(--spacing_m);
    text-align: center;
    color: var(--dark);
    white-space: nowrap;
    text-overflow: ellipsis;
}

.button_qix.firefox .content .placeholder {
    top: 1px;
}

.button_qix.android .content .placeholder {
    top: 1px;
}

.button_qix.red .content .icons,
.button_qix.red .content .placeholder {
    color: var(--pure_white);
}

.button_qix.black .content .icons,
.button_qix.black .content .placeholder {
    color: var(--light);
}

.button_qix .content .placeholder::first-letter {
    text-transform: capitalize;
}

.button_qix .name {
    display: block;
    min-height: 12px;
    font-size: 9px;
    line-height: 12px;
    text-align: center;
    flex: none;
    order: 1;
    align-self: stretch;
    flex-grow: 0;
    width: 100%;
    margin-top: 10px;
}

.button_qix.active .name {
    -o-transform: translate(var(--unit_shadow), var(--unit_shadow));
    -webkit-transform: translate(var(--unit_shadow), var(--unit_shadow));
    -moz-transform: translate(var(--unit_shadow), var(--unit_shadow));
    -ms-transform: translate(var(--unit_shadow), var(--unit_shadow));
    transform: translate(var(--unit_shadow), var(--unit_shadow));
}

@media (min-width: 720px) {}

@media (min-width: 1366px) {
    .button_qix:hover .content {
        box-shadow: var(--shadow_hover);
        -o-transform: translate(var(--unit_shadow_hover), var(--unit_shadow_hover));
        -webkit-transform: translate(var(--unit_shadow_hover), var(--unit_shadow_hover));
        -moz-transform: translate(var(--unit_shadow_hover), var(--unit_shadow_hover));
        -ms-transform: translate(var(--unit_shadow_hover), var(--unit_shadow_hover));
        transform: translate(var(--unit_shadow_hover), var(--unit_shadow_hover));
    }

    .button_qix.active:hover .content {
        box-shadow: var(--shadow_active);
        -o-transform: translate(var(--unit_shadow), var(--unit_shadow));
        -webkit-transform: translate(var(--unit_shadow), var(--unit_shadow));
        -moz-transform: translate(var(--unit_shadow), var(--unit_shadow));
        -ms-transform: translate(var(--unit_shadow), var(--unit_shadow));
        transform: translate(var(--unit_shadow), var(--unit_shadow));
    }

    .button_qix:active .content {
        box-shadow: var(--shadow_active);
        -o-transform: translate(var(--unit_shadow), var(--unit_shadow));
        -webkit-transform: translate(var(--unit_shadow), var(--unit_shadow));
        -moz-transform: translate(var(--unit_shadow), var(--unit_shadow));
        -ms-transform: translate(var(--unit_shadow), var(--unit_shadow));
        transform: translate(var(--unit_shadow), var(--unit_shadow));
    }
}

@media (min-width: 1600px) {}