<div id="button_qix_{{id}}" class="button_qix {{class}} {{alignment}} {{theme}} {{type}}" [ngClass]="{active: active}"
    qix tooltip="{{tooltip}}" (click)="on_click();">
    <div id="btn_qix__{{id}}" class="content" [ngStyle]="styles_content">
        <i id="icon_qix_left__{{id}}" class="icons icon_{{icon_code}}" *ngIf="icon_code && alignment == 'left'"></i>
        <p id="icon_qix_placeholder__{{id}}" class="placeholder" *ngIf="(type != 'only_icon' && type != 'with_name')">
            {{placeholder | translate}}
        </p>
        <i id="icon_qix_right__{{id}}" class="icons icon_{{icon_code}}" *ngIf="icon_code && alignment == 'right'"></i>
    </div>
    <p class="title name" *ngIf="name && type == 'with_name'" [ngStyle]="color_for_name">{{ name | translate}}</p>
</div>