#login_lg {
    display: flex;
    flex-direction: column;
    justify-content: flex-end;
    align-items: center;
    padding: 0px;
    gap: var(--spacing_s);
    width: 100%;
    flex: none;
    order: 1;
    align-self: stretch;
    flex-grow: 1;
}

#login_lg .body {
    box-sizing: border-box;
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: var(--spacing_l);
    gap: var(--spacing_l);
    width: calc(100% - 0px);
    background: var(--white);
    border: 1px solid var(--neutral);
    flex: none;
    order: 1;
    align-self: stretch;
    flex-grow: 0;
    -o-border-radius: var(--spacing_s);
    -webkit-border-radius: var(--spacing_s);
    -moz-border-radius: var(--spacing_s);
    -ms-border-radius: var(--spacing_s);
    border-radius: var(--spacing_s);
}

#login_lg .body .image {
    width: 288px;
    height: 288px;
    flex: none;
    order: 0;
    flex-grow: 0;
}

#login_lg .body .content {
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 0px;
    gap: var(--spacing_s);
    max-width: 320px;
    flex: none;
    order: 1;
    align-self: stretch;
    flex-grow: 0;
}

#login_lg .body .content .description {
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 0px;
    gap: var(--spacing_xs);
    flex: none;
    order: 0;
    align-self: stretch;
    flex-grow: 0;
}

#login_lg .body .content .description .title {
    text-align: center;
    margin: 0px auto;
    color: var(--dark);
    flex: none;
    order: 0;
    align-self: stretch;
    flex-grow: 0;
}

#login_lg .body .content .description .text {
    color: var(--dark);
    flex: none;
    order: 1;
    align-self: stretch;
    flex-grow: 0;
    text-align: center;
}

#login_lg .body .content .actions,
#login_lg .body .content .other_actions {
    display: block;
    padding: 0px;
    height: 56px;
    align-self: stretch;
    text-align: center !important;
}

#login_lg .body .content .actions .button_action {
    display: inline-flex;
    margin-right: var(--spacing_xs);
}

#login_lg .body .content .actions .button_action:last-child {
    margin-right: 0px;
}

#login_lg .body .content .other_actions {
    height: auto;
}

#login_lg .body .content .other_actions .link_action {
    display: inline-flex;
    margin-right: var(--spacing_xs);
}

#login_lg .body .content .other_actions .link_action:last-child {
    margin-right: 0px;
}

@media (min-width: 720px) {
    #login_lg .body {
        flex-direction: row;
        gap: 64px;
    }

    #login_lg .body .content {
        justify-content: center;
        min-width: calc(100% - 384px);
        width: calc(100% - 384px);
    }

    #login_lg .body .content .description {
        align-items: flex-start;
    }

    #login_lg .body .content .description .title {
        text-align: left;
        margin: 0px;
    }

    #login_lg .body .content .description .text {
        text-align: left;
    }

    #login_lg .body .content .actions,
    #login_lg .body .content .other_actions {
        text-align: left !important;
    }
}

@media (min-width: 1366px) {}

@media (min-width: 1600px) {}