<div id="login_lg" class="component {{class}}" (window:resize)="on_resize($event);">
    <div class=" body">
        <svg width="288" height="290" viewBox="0 0 288 290" fill="none" xmlns="http://www.w3.org/2000/svg">
            <path
                d="M206.517 204.918L174.241 171.268C171.786 168.709 170.448 165.279 170.522 161.734C170.596 158.188 172.076 154.817 174.635 152.363C177.194 149.908 180.624 148.57 184.169 148.644C187.715 148.718 191.085 150.197 193.54 152.757L225.816 186.407C227.032 187.674 227.986 189.168 228.624 190.804C229.262 192.44 229.571 194.186 229.535 195.941C229.498 197.697 229.116 199.428 228.411 201.036C227.705 202.644 226.69 204.097 225.422 205.312C224.155 206.528 222.661 207.482 221.025 208.12C219.389 208.758 217.644 209.067 215.888 209.031C214.133 208.994 212.401 208.612 210.794 207.907C209.186 207.201 207.733 206.186 206.517 204.918ZM160.566 201.754C127.429 201.754 100.47 174.795 100.47 141.658V81.6004C100.47 48.4639 127.429 21.5052 160.566 21.5052H165.06C198.196 21.5052 225.155 48.4639 225.155 81.6004V141.659C225.155 145.205 223.746 148.606 221.239 151.114C218.731 153.621 215.33 155.03 211.784 155.03C208.238 155.03 204.837 153.621 202.329 151.114C199.822 148.606 198.413 145.205 198.413 141.659V81.6004C198.403 72.7576 194.886 64.2799 188.633 58.0272C182.38 51.7744 173.902 48.2572 165.06 48.2471H160.566C151.723 48.2572 143.245 51.7744 136.993 58.0272C130.74 64.2799 127.223 72.7576 127.212 81.6004V141.659C127.222 150.502 130.74 158.979 136.992 165.232C143.245 171.485 151.723 175.002 160.566 175.012H165.06C168.606 175.012 172.007 176.421 174.514 178.929C177.022 181.436 178.431 184.837 178.431 188.383C178.431 191.929 177.022 195.33 174.514 197.838C172.007 200.346 168.606 201.754 165.06 201.754L160.566 201.754Z"
                fill="var(--red)" />
            <path
                d="M123.869 -0.00012207C159.913 -0.00012207 189.239 29.3246 189.239 65.3694C189.239 101.414 159.913 130.739 123.869 130.739C87.8262 130.739 58.5 101.413 58.5 65.3694C58.5 29.3261 87.8247 -0.00012207 123.869 -0.00012207ZM123.869 103.997C131.509 103.997 138.977 101.731 145.33 97.4867C151.682 93.2423 156.633 87.2096 159.556 80.1514C162.48 73.0932 163.245 65.3265 161.755 57.8336C160.264 50.3406 156.585 43.4579 151.183 38.0558C145.781 32.6537 138.898 28.9748 131.405 27.4843C123.912 25.9939 116.146 26.7589 109.087 29.6825C102.029 32.6061 95.9965 37.557 91.7521 43.9092C87.5077 50.2614 85.2423 57.7296 85.2423 65.3694C85.2539 75.6104 89.3273 85.4286 96.5688 92.6701C103.81 99.9116 113.628 103.985 123.869 103.997Z"
                fill="var(--black)" />
            <path
                d="M165.06 48.2468H160.566C159.88 48.2468 159.197 48.2679 158.522 48.3088C156.054 43.3193 152.542 38.9192 148.223 35.4073C143.905 31.8953 138.881 29.3539 133.493 27.9554C141.883 23.7037 151.159 21.4936 160.566 21.5049H165.06C167.626 21.5044 170.189 21.6672 172.734 21.9925C181.748 32.1072 187.383 44.7815 188.854 58.2498C185.755 55.081 182.053 52.5636 177.967 50.8458C173.881 49.128 169.492 48.2443 165.06 48.2468Z"
                fill="var(--red)" />
            <path opacity="0.997"
                d="M172.247 290H119.787C118.271 290.009 116.812 289.415 115.734 288.349C114.655 287.282 114.044 285.831 114.035 284.315V274.363C114.044 272.846 114.655 271.395 115.734 270.329C116.813 269.263 118.271 268.669 119.787 268.678H172.247C173.764 268.669 175.222 269.263 176.301 270.329C177.38 271.395 177.991 272.846 178 274.363V284.315C177.991 285.831 177.38 287.282 176.301 288.349C175.222 289.415 173.764 290.009 172.247 290Z"
                fill="var(--pure_black)" />
            <path opacity="0.997"
                d="M170.249 287.7H170.247L117.787 287.7L117.786 287.7C116.348 287.708 114.967 287.146 113.945 286.135C112.922 285.125 112.343 283.751 112.335 282.314V272.363C112.343 270.927 112.922 269.552 113.945 268.542C114.967 267.532 116.348 266.969 117.786 266.978V266.978H117.787L170.247 266.978L170.249 266.978C171.686 266.969 173.068 267.532 174.09 268.542C175.112 269.552 175.691 270.926 175.7 272.363V282.314C175.691 283.751 175.112 285.125 174.09 286.135C173.068 287.146 171.686 287.708 170.249 287.7Z"
                fill="var(--pure_white)" stroke="var(--pure_black)" stroke-width="0.6" />
            <path
                d="M168.732 273.521H168.548L168.542 272.864L168.279 273.277H168.192L167.917 272.861L167.921 273.525H167.735L167.728 272.498H167.889L168.236 273.013L168.566 272.493H168.725L168.732 273.521ZM167.562 272.502L166.787 272.508V272.689L167.082 272.686L167.088 273.533H167.273L167.268 272.685H167.563L167.562 272.502ZM162.694 272.416L160.328 276.437L157.906 272.449L156.34 272.459L156.402 281.524L157.867 281.513L157.824 275.013L159.413 277.587C159.511 277.744 159.647 277.874 159.809 277.963C159.971 278.053 160.154 278.099 160.339 278.098C160.524 278.097 160.705 278.048 160.866 277.956C161.027 277.865 161.162 277.733 161.257 277.574L162.812 274.979L162.858 281.479L164.323 281.469L164.26 272.405L162.694 272.416ZM150.804 275.695L150.822 278.361C150.837 280.317 149.537 281.57 147.594 281.582L144.546 281.603L144.483 272.539L147.533 272.518C149.476 272.505 150.793 273.739 150.804 275.697M149.336 278.246L149.319 275.833C149.328 275.586 149.285 275.34 149.193 275.11C149.102 274.88 148.963 274.672 148.787 274.499C148.61 274.326 148.399 274.192 148.168 274.105C147.936 274.018 147.689 273.981 147.442 273.995L145.93 274.005L145.971 280.119L147.484 280.108C147.731 280.119 147.977 280.078 148.207 279.988C148.438 279.898 148.647 279.76 148.821 279.585C148.995 279.41 149.131 279.2 149.219 278.969C149.308 278.738 149.347 278.491 149.335 278.244M124.009 276.586L122.714 276.247C122.187 276.079 121.597 275.856 121.592 275.116C121.587 274.35 122.271 273.974 123.294 273.967C124.018 273.977 124.731 274.147 125.381 274.465L125.371 272.952C124.68 272.702 123.951 272.573 123.216 272.574C121.145 272.588 120.109 273.884 120.118 275.128C120.127 276.372 120.762 277.194 122.065 277.574L123.42 277.913C124.214 278.144 124.652 278.516 124.656 279.155C124.662 279.97 123.967 280.457 122.923 280.464C122.09 280.397 121.283 280.139 120.564 279.711L120.575 281.243C121.292 281.661 122.107 281.883 122.937 281.884C123.794 281.903 124.63 281.616 125.293 281.073C125.569 280.814 125.788 280.5 125.935 280.151C126.083 279.802 126.155 279.426 126.148 279.048C126.139 277.828 125.445 277.033 124.009 276.586"
                fill="#231F20" />
            <path
                d="M137.075 280.381C137.164 280.464 137.259 280.541 137.359 280.611C137.78 280.02 137.995 279.306 137.969 278.581L137.951 275.656C137.937 273.699 136.62 272.466 134.679 272.477C132.737 272.489 131.436 273.741 131.449 275.698L131.47 278.625C131.483 280.578 132.799 281.814 134.742 281.799C135.453 281.814 136.151 281.608 136.74 281.211C136.64 281.14 136.527 281.067 136.404 280.989C135.964 280.647 135.429 280.449 134.872 280.424C134.834 280.424 134.796 280.428 134.757 280.428C134.513 280.443 134.269 280.407 134.04 280.322C133.811 280.237 133.602 280.105 133.427 279.934C133.252 279.763 133.116 279.557 133.025 279.33C132.935 279.103 132.893 278.86 132.903 278.615L132.884 275.688C132.88 275.2 133.071 274.731 133.414 274.384C133.756 274.036 134.223 273.839 134.711 273.836C135.199 273.833 135.668 274.023 136.015 274.366C136.363 274.709 136.56 275.175 136.563 275.663L136.584 278.59C136.584 278.616 136.584 278.641 136.584 278.667C136.596 279.318 136.634 279.969 137.075 280.381ZM138.267 280.813C138.05 280.811 137.838 280.875 137.659 280.997C137.48 281.119 137.343 281.293 137.267 281.496C137.195 281.681 137.176 281.882 137.211 282.077C137.245 282.272 137.333 282.454 137.464 282.603C137.595 282.752 137.764 282.862 137.953 282.921C138.143 282.98 138.344 282.986 138.537 282.939C138.793 282.875 139.017 282.72 139.167 282.502C139.316 282.284 139.38 282.019 139.347 281.757C139.314 281.495 139.186 281.254 138.987 281.08C138.788 280.907 138.533 280.812 138.269 280.814"
                fill="#ED343E" />
            <path
                d="M129.722 250.806C132.272 251.954 135.036 252.553 137.833 252.564C143.512 252.564 147.397 249.557 147.397 244.621C147.397 240.498 144.728 238.604 140.909 237.253C137.935 236.205 136.042 236.205 136.042 234.616C136.042 233.535 136.921 233.129 138.205 233.129C139.929 233.129 143.174 233.907 146.114 235.563V229.141C143.614 227.979 140.894 227.368 138.137 227.35C132.661 227.35 128.978 230.358 128.978 235.124C128.978 239.079 131.546 240.904 135.264 242.188C138.374 243.27 140.334 243.27 140.334 245.027C140.334 246.278 139.32 246.785 137.901 246.785C136.211 246.785 132.763 246.041 129.721 244.284L129.722 250.806ZM156.627 252.091L156.695 252.057C157.537 252.42 158.449 252.593 159.365 252.564C164.3 252.564 168.119 249.015 168.119 243.709C168.119 238.504 164.435 235.191 160.277 235.191C158.955 235.192 157.662 235.579 156.558 236.306L156.49 236.272V235.563H149.933V259.629H156.627V252.091ZM156.627 247.122V241.005C157.163 240.7 157.768 240.537 158.385 240.531C160.345 240.531 161.359 242.052 161.359 243.978C161.359 245.871 160.413 247.392 158.148 247.392C157.629 247.4 157.112 247.308 156.627 247.122ZM180.183 251.381C181.322 252.169 182.687 252.561 184.07 252.496C185.155 252.54 186.233 252.32 187.214 251.855V247.259C186.974 247.385 186.708 247.455 186.436 247.462C185.828 247.462 185.591 247.056 185.591 246.38V241.579C185.591 239.483 185.017 237.929 183.53 236.813C182.11 235.731 179.912 235.191 177.513 235.191C175.402 235.176 173.309 235.59 171.362 236.408V241.613C172.885 240.931 174.527 240.552 176.195 240.498C177.074 240.498 177.919 240.633 178.426 241.106C178.587 241.264 178.713 241.454 178.794 241.664C178.876 241.873 178.912 242.098 178.899 242.323V242.56C178.066 242.381 177.217 242.29 176.364 242.289C174.742 242.289 172.985 242.594 171.7 243.54C171.079 244 170.577 244.602 170.236 245.295C169.895 245.989 169.725 246.754 169.74 247.527C169.718 248.32 169.904 249.104 170.277 249.803C170.651 250.503 171.199 251.093 171.87 251.516C173.044 252.244 174.408 252.609 175.79 252.564C177.314 252.58 178.813 252.17 180.117 251.381H180.183ZM178.899 247.9C178.522 248.05 178.121 248.13 177.716 248.136C176.938 248.136 176.229 247.765 176.229 246.953C176.229 246.074 177.04 245.737 177.919 245.737C178.248 245.74 178.576 245.774 178.899 245.838V247.9ZM203.504 245.703C202.203 246.578 200.677 247.059 199.11 247.088C196.812 247.088 195.257 245.804 195.257 243.877C195.257 241.985 196.778 240.633 199.042 240.633C200.541 240.696 201.998 241.15 203.267 241.951V236.171C201.793 235.5 200.188 235.165 198.569 235.191C193.195 235.191 188.497 238.605 188.497 243.911C188.497 248.846 192.518 252.564 198.4 252.564C200.157 252.564 202.153 252.226 203.503 251.482L203.504 245.703ZM221.925 246.21C220.218 247.169 218.305 247.703 216.348 247.765C214.557 247.765 212.968 247.156 212.327 245.398H222.771C222.84 244.838 222.874 244.273 222.872 243.708C222.872 237.726 218.647 235.191 214.558 235.191C209.826 235.191 205.533 238.571 205.533 244.046C205.533 249.319 209.554 252.564 215.436 252.564C217.664 252.579 219.871 252.143 221.925 251.28V246.21ZM212.225 241.951C212.529 240.666 213.34 239.921 214.523 239.921C215.503 239.921 216.553 240.428 216.855 241.951H212.225Z"
                fill="var(--red)" />
            <path
                d="M65.2335 239.957C65.2335 247.021 70.9457 252.564 78.3138 252.564C85.6819 252.564 91.394 247.021 91.394 239.957C91.394 232.893 85.6819 227.35 78.3138 227.35C70.9457 227.35 65.2335 232.893 65.2335 239.957ZM72.1961 239.957C72.1961 236.408 74.8662 233.602 78.3138 233.602C81.7614 233.602 84.4315 236.408 84.4315 239.957C84.4315 243.506 81.7614 246.311 78.3138 246.311C74.8662 246.311 72.1961 243.506 72.1961 239.957ZM104.947 250.84V252.192H111.505V235.563H104.813V246.142C104.211 246.721 103.417 247.057 102.582 247.088C102.353 247.098 102.124 247.061 101.909 246.979C101.694 246.898 101.498 246.774 101.332 246.615C101.028 246.311 100.859 245.905 100.859 245.026V235.563H94.1664V245.905C94.1664 248.406 94.7072 249.961 95.8898 251.042C97.0772 252.05 98.5913 252.591 100.149 252.563C101.881 252.543 103.554 251.922 104.88 250.806L104.947 250.84ZM115.02 252.192H121.712V242.728C122.212 242.256 122.802 241.89 123.447 241.652C124.092 241.414 124.778 241.309 125.465 241.343C126.079 241.347 126.69 241.415 127.29 241.546V235.394C126.89 235.308 126.483 235.263 126.074 235.259C125.225 235.269 124.389 235.466 123.624 235.833C122.859 236.201 122.184 236.732 121.646 237.388L121.578 237.354V235.563H115.019L115.02 252.192Z"
                fill="var(--black)" />
        </svg>
        <div class="content">
            <div class="description">
                <h1 class="title">{{"login.login.t0000" | translate}}</h1>
                <p class="text" [innerHTML]="'login.login.t0001'" translate></p>
            </div>
            <div class="actions align">
                <app-button class="button_action" id="login_login_lg" [placeholder]="'login.login.t0002'"
                    [theme]="'red'" (clicked)="on_login();"></app-button>
            </div>
            <div class="other_actions align">
                <app-link class="link_action" id="report_problem_login_lg"
                    [placeholder]="'login.login.t0003'"></app-link>
            </div>
        </div>
    </div>
</div>