<div id="pager_qix_{{id}}" class="pager_qix {{class}} {{type}}">
    <app-button id="'pager_left__{{id}}'" class="button_pager" [icon_code]="'arrow_back'" [placeholder]="''"
        [tooltip]="'ui_ux.t0003'"
        [radio_borders]="'var(--spacing_s) var(--spacing_xs) var(--spacing_xs) var(--spacing_s)'" [theme]="theme"
        (clicked)="on_previous();" *ngIf="type == 'left'"></app-button>
    <app-button id="'pager_right__{{id}}'" class="button_pager" [icon_code]="'arrow_forward'"
        [placeholder]="'ui_ux.t0002'"
        [radio_borders]="'var(--spacing_xs) var(--spacing_s) var(--spacing_s) var(--spacing_xs)'" [theme]="theme"
        [alignment]="'right'" (clicked)="on_next();" *ngIf="type == 'left'"></app-button>
    <app-button id="'pager_left__{{id}}'" class="button_pager" [icon_code]="'arrow_back'" [placeholder]="'ui_ux.t0003'"
        [radio_borders]="'var(--spacing_s) var(--spacing_xs) var(--spacing_xs) var(--spacing_s)'" [theme]="theme"
        (clicked)="on_previous();" *ngIf="type == 'right'"></app-button>
    <app-button id="'pager_right__{{id}}'" class="button_pager" [icon_code]="'arrow_forward'" [placeholder]="''"
        [tooltip]="'ui_ux.t0002'"
        [radio_borders]="'var(--spacing_xs) var(--spacing_s) var(--spacing_s) var(--spacing_xs)'" [theme]="theme"
        (clicked)="on_next();" *ngIf="type == 'right'"></app-button>
</div>