.pager_qix {
    display: flex;
    flex-direction: row;
    align-items: center;
    padding: 0px;
    gap: var(--margin_base);
    height: 64px;
    flex: none;
    order: 2;
    flex-grow: 0;
    -webkit-border-radius: var(--spacing_s);
    -moz-border-radius: var(--spacing_s);
    -ms-border-radius: var(--spacing_s);
    -o-border-radius: var(--spacing_s);
    border-radius: var(--spacing_s);
}

.pager_qix .button_pager {
    display: flex;
}

@media (min-width: 720px) {}

@media (min-width: 1366px) {}

@media (min-width: 1600px) {}