/*Import of fonts*/
@import url(./assets/css/typography.css);
@import url("https://use.typekit.net/cax3dsj.css");
/*End*/

/*Import of iconography*/
@import url(./assets/icons/css/icons.css);
@import url(./assets/icons/css/icons-codes.css);
@import url(./assets/icons/css/icons-embedded.css);
@import url(./assets/icons/css/icons-ie7-codes.css);
@import url(./assets/icons/css/icons-ie7.css);
@import url(./assets/icons/css/animation.css);
/*End*/

/*Global styles*/
* {
  padding: 0px 0px 0px;
  margin: 0px 0px 0px;
  -webkit-margin-before: 0px;
  margin-block-start: 0px;
  -webkit-margin-after: 0px;
  margin-block-end: 0px;
  -webkit-margin-start: 0px;
  margin-inline-start: 0px;
  -webkit-margin-end: 0px;
  margin-inline-end: 0px;
  font-family: noto-sans, sans-serif;
  letter-spacing: 0px;
  border: none;
  border-radius: 4px;
  overflow: hidden;
  outline: none;
  transform-origin: 50% 50%;
  -o-transition: all .2s ease-in-out;
  -webkit-animation-duration: 0.2s;
  animation-duration: 0.2s;
  -webkit-animation-timing-function: cubic-bezier(0.25, 0.46, 0.45, 0.94);
  animation-timing-function: cubic-bezier(0.25, 0.46, 0.45, 0.94);
  -webkit-animation-fill-mode: both;
  animation-fill-mode: both;
  -ms-tap-highlight-color: rgba(0, 0, 0, 0) !important;
  -o-tap-highlight-color: rgba(0, 0, 0, 0) !important;
  -moz-tap-highlight-color: rgba(0, 0, 0, 0) !important;
  -webkit-tap-highlight-color: rgba(0, 0, 0, 0) !important;
  box-sizing: content-box;
  -webkit-transition: all .2s ease-in-out;
  -moz-transition: all .2s ease-in-out;
  -ms-transition: all .2s ease-in-out;
  transition: all .2s ease-in-out;
  -webkit-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  -o-user-select: none;
  user-select: none;
}

@font-face {
  font-family: noto-sans, sans-serif;
  src: url('./assets/fonts/SegoeUI.eot');
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: azo-sans-web, sans-serif;
  src: url('./assets/fonts/AzoSans-Bold.eot');
  font-weight: bold;
  font-style: normal;
}

body {
  /*Basics*/
  --pure_white: #FFFFFF;
  --pure_black: #000000;
  --light: #FFFFFF;
  --dark: #000000;
  --red: #ED343E;
  --black: #231F20;
  --gray: #EDEDED;
  --white: #FBFBFB;
  /*End*/

  /*Others*/
  --neutral: rgba(0, 0, 0, .04);
  --placeholders: rgba(0, 0, 0, .32);
  --unit_shadow: 6px;
  --unit_shadow_hover: 3px;
  --unit_shadow_active: 0px;
  --unit_shadow_max: 10px;
  --shadow: var(--unit_shadow) var(--unit_shadow) 0px 0px var(--dark);
  --shadow_max: var(--unit_shadow_max) var(--unit_shadow_max) 0px 0px var(--dark);
  --shadow_hover: var(--unit_shadow_hover) var(--unit_shadow_hover) 0px 0px var(--dark);
  --shadow_active: var(--unit_shadow_active) var(--unit_shadow_active) 0px 0px var(--dark);

  --borders: rgba(0, 0, 0, .16);
  --placeholders: rgba(0, 0, 0, .32);
  --lightbox: rgba(255, 255, 255, .88);
  --blur_lightbox: blur(2px);
  --load_element: var(--neutral);
  --mask: rgba(0, 0, 0, 0.48);
  /*End*/

  /*States*/
  --success: #DCFBE1;
  --warning: #F1E3C1;
  --failed: #F8D4D4;
  --default: #F0F0F0;
  --selected: var(--red);
  --available: #9DC162;
  --occupied: #B53E4E;
  --coming_back: #F3BC44;
  --no_disturb: #8B9450;
  --absent: #740071;
  /*End*/

  /*Margins and paddings*/
  --margin_base: 4px;
  --spacing_xs: calc(var(--margin_base) * 2);
  /*8*/
  --spacing_s: calc(var(--margin_base) * 4);
  /*16*/
  --spacing_m: calc(var(--margin_base) * 6);
  /*24*/
  --spacing_l: calc(var(--margin_base) * 8);
  /*32*/
  --spacing_xl: calc(var(--margin_base) * 10);
  /*40*/
  /*End*/

  --text_accessibility_alignment: right;
  --flex_accessibility_alignment: flex-end;

  --bg: var(--light);

  width: 100%;
  max-width: 1784px;
  height: calc(100vh - 0px);
  color: var(--dark);
  background-color: var(--bg);
  margin: 0px auto;
}

html {
  scroll-behavior: smooth;
}

body.light {
  /*Basics*/
  --light: #FFFFFF;
  --dark: #000000;
  --black: #231F20;
  --gray: #EDEDED;
  --white: #FBFBFB;

  --load_element: #dadada;
  /*End*/

  /*Others*/
  --neutral: rgba(0, 0, 0, .04);
  --borders: rgba(0, 0, 0, .16);
  --placeholders: rgba(0, 0, 0, .32);
  --lightbox: rgba(255, 255, 255, .80);
  /*End*/
}

body.dark {
  /*Basics*/
  --light: #000000;
  --dark: #F0F0F0;
  --black: #F0F0F0;
  --gray: #3C3C3B;
  --white: #0C0C0C;
  /*End*/

  /*Others*/
  --neutral: rgba(255, 255, 255, .04);
  --borders: rgba(255, 255, 255, .16);
  --placeholders: rgba(255, 255, 255, .32);
  --lightbox: rgba(0, 0, 0, .88);
  /*End*/
}

@media (min-width: 720px) {}

@media (min-width: 1366px) {}

@media (prefers-color-scheme: dark) {

  body {
    /*Basics*/
    --light: #000000;
    --dark: #F0F0F0;
    --black: #F0F0F0;
    --gray: #3C3C3B;
    --white: #0C0C0C;
    /*End*/

    /*Others*/
    --neutral: rgba(255, 255, 255, .04);
    --borders: rgba(255, 255, 255, .16);
    --placeholders: rgba(255, 255, 255, .32);
    --lightbox: rgba(0, 0, 0, .80);
    /*End*/
  }

  img,
  video {
    -webkit-filter: brightness(.8) contrast(1.2);
    filter: brightness(.8) contrast(1.2);
  }
}

::-webkit-scrollbar {
  display: none;
  width: var(--spacing_xs);
  height: var(--spacing_xs);
}

::-webkit-scrollbar-track {
  background-color: transparent;
}

::-webkit-scrollbar-thumb {
  background-color: var(--red);
  border: 2px solid var(--light);
  -o-border-radius: 400px;
  -webkit-border-radius: 400px;
  -moz-border-radius: 400px;
  -ms-border-radius: 400px;
  border-radius: 400px;
}

h1,
h2,
h3,
.title,
p.title {
  display: flex;
  align-content: center;
  align-items: center;
  font-family: azo-sans-web, sans-serif;
  font-weight: 900;
  font-size: 22px;
  min-height: 32px;
}

h1::first-letter,
h2::first-letter,
h3::first-letter,
.title::first-letter,
p.title::first-letter {
  text-transform: uppercase;
}

h4,
h5,
h6,
p,
span,
label,
.text {
  display: flex;
  align-content: center;
  align-items: center;
  font-family: noto-sans, sans-serif;
  font-weight: 300;
  font-size: 15px;
  min-height: 24px;
}

p {
  margin-bottom: 0px;
  white-space: normal;
  font-size: 15px;
  min-height: 24px;
}

h4::first-letter,
h5::first-letter,
h6::first-letter,
p::first-letter,
span::first-letter,
label::first-letter,
.text::first-letter {
  text-transform: uppercase;
}

textarea {
  white-space: normal !important;
  font-size: 15px;
  min-height: var(--spacing_m);
}

textarea::first-letter {
  text-transform: uppercase;
}

i,
.icon {
  display: flex;
  align-content: center;
  justify-content: center;
  align-items: center;
  width: var(--spacing_m);
  height: var(--spacing_m);
  font-size: 22px;
  min-height: 24px;
}

img,
video {
  width: 100%;
  -o-border-radius: var(--spacing_s);
  -webkit-border-radius: var(--spacing_s);
  -moz-border-radius: var(--spacing_s);
  -ms-border-radius: var(--spacing_s);
  border-radius: var(--spacing_s);
}

img.shadow,
video.shadow {
  box-shadow: var(--shadow);
  -o-transform: scale(0.94);
  -webkit-transform: scale(0.94);
  -moz-transform: scale(0.94);
  -ms-transform: scale(0.94);
  transform: scale(0.94);
  -webkit-filter: drop-shadow(var(--shadow));
  filter: drop-shadow(var(--shadow));
}

/*End*/

/*Diagramming styles*/
.align {
  justify-content: var(--flex_accessibility_alignment);
  text-align: var(--text_accessibility_alignment);
}

.show {
  display: inherit;
}

.hide {
  display: none;
}

input::-webkit-calendar-picker-indicator {
  display: none;
}

@media (min-width: 720px) {

  img,
  video {
    width: auto;
    -o-transform: scale(1);
    -webkit-transform: scale(1);
    -moz-transform: scale(1);
    -ms-transform: scale(1);
    transform: scale(1);
  }

  .align {
    justify-content: flex-start;
    text-align: left;
  }
}

@media (min-width: 1366px) {
  ::-webkit-scrollbar {
    display: block;
  }
}

/*End*/

/*Special classes for UI/UX*/
body.android .content_ly {
  height: calc(100vh - 120px);
}

body.android .content_ly .body_ly {
  height: calc(100vh - 0px);
}

@media (min-width: 720px) {
  body.android .content_ly {
    height: calc(100vh - var(--spacing_l));
  }

  body.android .content_ly .body_ly {
    height: calc(100vh - 0px);
  }
}

app-no-found-in,
app-maintenance-in,
app-login-lg {
  width: auto;
  max-width: calc(100% - 0px);
}

app-feed-hm {
  width: calc(100% - 0px);
}

@media (min-width: 1366px) {}

/* End*/

/* Component*/
/* End*/

/* Animations*/
@-webkit-keyframes fade_in {
  from {
    opacity: 0;
  }

  to {
    opacity: 1;
  }
}

@keyframes fade_in {
  from {
    opacity: 0;
  }

  to {
    opacity: 1;
  }
}

@-webkit-keyframes fade_in_up {
  from {
    opacity: 0;
    -o-transform: translate3d(0, 100%, 0);
    -webkit-transform: translate3d(0, 100%, 0);
    -moz-transform: translate3d(0, 100%, 0);
    -ms-transform: translate3d(0, 100%, 0);
    transform: translate3d(0, 100%, 0);
  }

  to {
    opacity: 1;
    -o-transform: translate3d(0, 0, 0);
    -webkit-transform: translate3d(0, 0, 0);
    -moz-transform: translate3d(0, 0, 0);
    -ms-transform: translate3d(0, 0, 0);
    transform: translate3d(0, 0, 0);
  }
}

@keyframes fade_in_up {
  from {
    opacity: 0;
    -o-transform: translate3d(0, 100%, 0);
    -webkit-transform: translate3d(0, 100%, 0);
    -moz-transform: translate3d(0, 100%, 0);
    -ms-transform: translate3d(0, 100%, 0);
    transform: translate3d(0, 100%, 0);
  }

  to {
    opacity: 1;
    -o-transform: translate3d(0, 0, 0);
    -webkit-transform: translate3d(0, 0, 0);
    -moz-transform: translate3d(0, 0, 0);
    -ms-transform: translate3d(0, 0, 0);
    transform: translate3d(0, 0, 0);
  }
}

@-webkit-keyframes fade_in_down {
  from {
    opacity: 0;
    -o-transform: translate3d(0, -100%, 0);
    -webkit-transform: translate3d(0, -100%, 0);
    -moz-transform: translate3d(0, -100%, 0);
    -ms-transform: translate3d(0, -100%, 0);
    transform: translate3d(0, -100%, 0);
  }

  to {
    opacity: 1;
    -o-transform: translate3d(0, 0, 0);
    -webkit-transform: translate3d(0, 0, 0);
    -moz-transform: translate3d(0, 0, 0);
    -ms-transform: translate3d(0, 0, 0);
    transform: translate3d(0, 0, 0);
  }
}

@keyframes fade_in_down {
  from {
    opacity: 0;
    -o-transform: translate3d(0, -100%, 0);
    -webkit-transform: translate3d(0, -100%, 0);
    -moz-transform: translate3d(0, -100%, 0);
    -ms-transform: translate3d(0, -100%, 0);
    transform: translate3d(0, -100%, 0);
  }

  to {
    opacity: 1;
    -o-transform: translate3d(0, 0, 0);
    -webkit-transform: translate3d(0, 0, 0);
    -moz-transform: translate3d(0, 0, 0);
    -ms-transform: translate3d(0, 0, 0);
    transform: translate3d(0, 0, 0);
  }
}

@-webkit-keyframes zoom_in {
  from {
    opacity: 0;
    -o-transform: scale3d(0.3, 0.3, 0.3);
    -webkit-transform: scale3d(0.3, 0.3, 0.3);
    -moz-transform: scale3d(0.3, 0.3, 0.3);
    -ms-transform: scale3d(0.3, 0.3, 0.3);
    transform: scale3d(0.3, 0.3, 0.3);
  }

  50% {
    opacity: 1;
  }
}

@keyframes zoom_in {
  from {
    opacity: 0;
    -o-transform: scale3d(0.3, 0.3, 0.3);
    -webkit-transform: scale3d(0.3, 0.3, 0.3);
    -moz-transform: scale3d(0.3, 0.3, 0.3);
    -ms-transform: scale3d(0.3, 0.3, 0.3);
    transform: scale3d(0.3, 0.3, 0.3);
  }

  50% {
    opacity: 1;
  }
}

@-webkit-keyframes fade_out {
  from {
    opacity: 1;
  }

  to {
    opacity: 0;
  }
}

@keyframes fade_out {
  from {
    opacity: 1;
  }

  to {
    opacity: 0;
  }
}

@-webkit-keyframes fade_out_down {
  from {
    opacity: 1;
  }

  to {
    opacity: 0;
    -o-transform: translate3d(0, 100%, 0);
    -webkit-transform: translate3d(0, 100%, 0);
    -moz-transform: translate3d(0, 100%, 0);
    -ms-transform: translate3d(0, 100%, 0);
    transform: translate3d(0, 100%, 0);
  }
}

@keyframes fade_out_down {
  from {
    opacity: 1;
  }

  to {
    opacity: 0;
    -o-transform: translate3d(0, 100%, 0);
    -webkit-transform: translate3d(0, 100%, 0);
    -moz-transform: translate3d(0, 100%, 0);
    -ms-transform: translate3d(0, 100%, 0);
    transform: translate3d(0, 100%, 0);
  }
}

@-webkit-keyframes fade_out_up {
  from {
    opacity: 1;
  }

  to {
    opacity: 0;
    -o-transform: translate3d(0, -100%, 0);
    -webkit-transform: translate3d(0, -100%, 0);
    -moz-transform: translate3d(0, -100%, 0);
    -ms-transform: translate3d(0, -100%, 0);
    transform: translate3d(0, -100%, 0);
  }
}

@keyframes fade_out_up {
  from {
    opacity: 1;
  }

  to {
    opacity: 0;
    -o-transform: translate3d(0, -100%, 0);
    -webkit-transform: translate3d(0, -100%, 0);
    -moz-transform: translate3d(0, -100%, 0);
    -ms-transform: translate3d(0, -100%, 0);
    transform: translate3d(0, -100%, 0);
  }
}

@-webkit-keyframes zoom_out {
  from {
    opacity: 1;
  }

  50% {
    opacity: 0;
    -o-transform: scale3d(0.3, 0.3, 0.3);
    -webkit-transform: scale3d(0.3, 0.3, 0.3);
    -moz-transform: scale3d(0.3, 0.3, 0.3);
    -ms-transform: scale3d(0.3, 0.3, 0.3);
    transform: scale3d(0.3, 0.3, 0.3);
  }

  to {
    opacity: 0;
  }
}

@keyframes zoom_out {
  from {
    opacity: 1;
  }

  50% {
    opacity: 0;
    -o-transform: scale3d(0.3, 0.3, 0.3);
    -webkit-transform: scale3d(0.3, 0.3, 0.3);
    -moz-transform: scale3d(0.3, 0.3, 0.3);
    -ms-transform: scale3d(0.3, 0.3, 0.3);
    transform: scale3d(0.3, 0.3, 0.3);
  }

  to {
    opacity: 0;
  }
}

/* End*/