.content_ly {
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: var(--spacing_l);
    gap: var(--spacing_s);
    position: relative;
    height: calc(100vh - 64px);
}

.content_ly .header_ly {
    width: calc(100% - 0px);
    height: calc(var(--spacing_l) * 2);
}

.content_ly .header_ly app-header-ly {
    width: calc(100% - 0px);
    height: calc(100% - 0px);
}

.content_ly .body_ly {
    padding: 0px;
    width: calc(100% - 0px);
    height: calc(100vh - 120px);
}

@media (min-width: 720px) {
    .content_ly .body_ly {
        height: calc(100vh - 112px);
    }
}

@media (min-width: 1366px) {
    .content_ly {
        padding: var(--spacing_s);
        height: calc(100vh - var(--spacing_l));
    }

    .content_ly .body_ly {
        flex-direction: row;
        justify-content: center;
        padding: 0px;
        gap: calc(var(--spacing_l) * 2);
        height: calc(100% - 0px);
    }
}