<div id="no_found_in" class="component {{class}}" (window:resize)="on_resize($event);">
    <div class=" body">
        <img class="image" src="./../../../../../assets/images/information/no_found/00.svg" alt="">
        <div class="content">
            <div class="description">
                <h1 class="title">{{"information.no_found.t0000" | translate}}</h1>
                <p class="text">{{"information.no_found.t0001" | translate}}</p>
            </div>
            <div class="actions align">
                <app-button class="button_action" id="back_no_found_in" [placeholder]="'information.no_found.t0002'"
                    (clicked)="on_back();"></app-button>
            </div>
        </div>
    </div>
</div>