@font-face {
  font-family: 'icons';
  src: url('../font/icons.eot?5450972');
  src: url('../font/icons.eot?5450972#iefix') format('embedded-opentype'),
       url('../font/icons.woff2?5450972') format('woff2'),
       url('../font/icons.woff?5450972') format('woff'),
       url('../font/icons.ttf?5450972') format('truetype'),
       url('../font/icons.svg?5450972#icons') format('svg');
  font-weight: normal;
  font-style: normal;
}
/* Chrome hack: SVG is rendered more smooth in Windozze. 100% magic, uncomment if you need it. */
/* Note, that will break hinting! In other OS-es font will be not as sharp as it could be */
/*
@media screen and (-webkit-min-device-pixel-ratio:0) {
  @font-face {
    font-family: 'icons';
    src: url('../font/icons.svg?5450972#icons') format('svg');
  }
}
*/
[class^="icon_"]:before, [class*=" icon_"]:before {
  font-family: "icons";
  font-style: normal;
  font-weight: normal;
  speak: never;

  display: inline-block;
  text-decoration: inherit;
  width: 1em;
  margin-right: .2em;
  text-align: center;
  /* opacity: .8; */

  /* For safety - reset parent styles, that can break glyph codes*/
  font-variant: normal;
  text-transform: none;

  /* fix buttons height, for twitter bootstrap */
  line-height: 1em;

  /* Animation center compensation - margins should be symmetric */
  /* remove if not needed */
  margin-left: .2em;

  /* you can be more comfortable with increased icons size */
  /* font-size: 120%; */

  /* Font smoothing. That was taken from TWBS */
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;

  /* Uncomment for 3D effect */
  /* text-shadow: 1px 1px 1px rgba(127, 127, 127, 0.3); */
}

.icon_apps:before { content: '\e800'; } /* '' */
.icon_arrow_back:before { content: '\e801'; } /* '' */
.icon_arrow_forward:before { content: '\e802'; } /* '' */
.icon_attach_file:before { content: '\e803'; } /* '' */
.icon_calendar_month:before { content: '\e804'; } /* '' */
.icon_code:before { content: '\e805'; } /* '' */
.icon_collapse_all:before { content: '\e806'; } /* '' */
.icon_confirmation_number:before { content: '\e807'; } /* '' */
.icon_data_table:before { content: '\e808'; } /* '' */
.icon_design_services:before { content: '\e809'; } /* '' */
.icon_expand_all:before { content: '\e80a'; } /* '' */
.icon_format_bold:before { content: '\e80b'; } /* '' */
.icon_format_italic:before { content: '\e80c'; } /* '' */
.icon_format_list_bulleted:before { content: '\e80d'; } /* '' */
.icon_format_list_numbered:before { content: '\e80e'; } /* '' */
.icon_format_strikethrough:before { content: '\e80f'; } /* '' */
.icon_format_underlined:before { content: '\e810'; } /* '' */
.icon_link:before { content: '\e811'; } /* '' */
.icon_logout:before { content: '\e812'; } /* '' */
.icon_redo:before { content: '\e813'; } /* '' */
.icon_search:before { content: '\e814'; } /* '' */
.icon_table:before { content: '\e815'; } /* '' */
.icon_undo:before { content: '\e816'; } /* '' */
.icon_view_day:before { content: '\e817'; } /* '' */
.icon_wallpaper:before { content: '\e818'; } /* '' */
.icon_work:before { content: '\e819'; } /* '' */
