
.icon_apps:before { content: '\e800'; } /* '' */
.icon_arrow_back:before { content: '\e801'; } /* '' */
.icon_arrow_forward:before { content: '\e802'; } /* '' */
.icon_attach_file:before { content: '\e803'; } /* '' */
.icon_calendar_month:before { content: '\e804'; } /* '' */
.icon_code:before { content: '\e805'; } /* '' */
.icon_collapse_all:before { content: '\e806'; } /* '' */
.icon_confirmation_number:before { content: '\e807'; } /* '' */
.icon_data_table:before { content: '\e808'; } /* '' */
.icon_design_services:before { content: '\e809'; } /* '' */
.icon_expand_all:before { content: '\e80a'; } /* '' */
.icon_format_bold:before { content: '\e80b'; } /* '' */
.icon_format_italic:before { content: '\e80c'; } /* '' */
.icon_format_list_bulleted:before { content: '\e80d'; } /* '' */
.icon_format_list_numbered:before { content: '\e80e'; } /* '' */
.icon_format_strikethrough:before { content: '\e80f'; } /* '' */
.icon_format_underlined:before { content: '\e810'; } /* '' */
.icon_link:before { content: '\e811'; } /* '' */
.icon_logout:before { content: '\e812'; } /* '' */
.icon_redo:before { content: '\e813'; } /* '' */
.icon_search:before { content: '\e814'; } /* '' */
.icon_table:before { content: '\e815'; } /* '' */
.icon_undo:before { content: '\e816'; } /* '' */
.icon_view_day:before { content: '\e817'; } /* '' */
.icon_wallpaper:before { content: '\e818'; } /* '' */
.icon_work:before { content: '\e819'; } /* '' */
