.header_ly {
    display: flex;
    flex-direction: row;
    justify-content: flex-end;
    align-items: center;
    padding: 0px;
    width: calc(100% - 0px);
    height: calc(100% - 0px);
    gap: var(--spacing_s);
    flex: none;
    order: 0;
    align-self: stretch;
    flex-grow: 0;
}

.header_ly .left,
.header_ly .right {
    display: flex;
    flex-direction: row;
    align-items: center;
    padding: 0px;
    gap: var(--spacing_s);
    height: calc(100% - 0px);
    flex: none;
    order: 0;
    flex-grow: 1;
}